/*
 *	Author: Michael Boyd
 *	Date: 12/12/18
 *	File: styles.css
 */

 .node {
     border: 2px solid rgb(0, 0, 0);
     background-color: rgb(226, 226, 226);
     font-size: 30px;
     height: 150px;
     text-align: center;
     max-width: 13%;
     margin: 10px 0px 30px 0px;
 }

#node1, #node2, #node3, #node4 {
    margin-top: 3px;
}