/*
 *	Author: Michael Boyd
 *	Date: 12/12/18
 *	File: styles.css
 */

 .farm {
     border: 2px solid rgb(0, 0, 0);
     background-color: rgb(226, 226, 226);
     font-size: 30px;
     height: 150px;
     text-align: center;
     max-width: 13%;
     margin: 10px 0px 30px 0px;
 }

#farm1, #farm2, #farm3, #farm4 {
    margin-top: 3px;
}

 .placeholder-text {
    opacity: 0.3;
 }